<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinica</title>
    <link rel="stylesheet" href="output.css">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>    
    <script src="https://kit.fontawesome.com/8caa7c21dc.js" crossorigin="anonymous"></script>
</head>
<body class="bg-secondary">
    <header class="bg-blue-900 fixed z-20 top-0 left-0 right-0">
        <nav class="grid grid-cols-3 h-full max-xl:grid-cols-2 gap-y-1">
            <img class="h-20 rounded-md w-64 mx-auto my-1 max-xl:w-max max-xl:m-2 max-sm:h-16" src="./img/logoClinica.png">
            <div class="flex flex-row gap-10 items-end mb-1 text-text max-xl:col-start-1 max-xl:col-end-3 text-center m-auto max-sm:gap-4">
                <a class="hover:text-primary" href="#"> <b><ins>Inicio<ins/></b> </a> 
                <a class="hover:text-primary" href="especialidades.html">Especialidades</a>
                <a class="hover:text-primary" href="#profesionales">Profesionales</a>
                <a class="hover:text-primary" href="#contacto">Contacto</a>
            </div>
            <div class="flex items-end gap-x-10 justify-end mr-2 text-text mb-1 max-xl:col-start-2 max-xl:col-end-4 max-xl:row-start-1 max-xl:row-end-2 max-md:w-full max-xl:justify-end max-sm:gap-2">
                <% if (user && user.paci_nombre && user.paci_apellido) { %>
                    <button class="" onclick="loginButton();" disabled>
                      <i class="fa-solid fa-user"></i> <%= user.paci_nombre.toUpperCase() %> <%= user.paci_apellido.toUpperCase() %>
                    </button>
                    <button class="bg-secondary w-40 rounded-md p-1.5 hover:bg-primary" onclick="logout();">Cerrar sesión</button>
                <% } else { %>
                    <!-- Botón para usuarios no autenticados -->
                    <button class="hover:text-primary" onclick="loginButton();">
                        <i class="fa-solid fa-user"></i> Iniciar sesión
                    </button>
                    <button class="bg-secondary w-40 rounded-md p-1.5 hover:bg-primary" onclick="signinButton();">Registrarse</button>
                <% } %>
            </div>
        </nav>
    </header>
    <main class="grid gap-10">
        <section class="h-screen flex justify-center items-center max-sm:mt-24">
            <div class="grid w-full gap-20 max-sm:gap-2">
                <div class="grid grid-cols-2 gap-20 max-sm:gap-2 max-md:gap-8 max-sm:grid-cols-1 max-sm:m-auto">
                   <button class="flex flex-col justify-center items-center border-2 border-border rounded-3xl bg-primary text-text w-96 ml-auto hover:bg-text hover:text-primary max-sm:w-80 max-md:w-72" onclick="reservaUno();">
                    <figure class="w-60 h-56 flex justify-center max-sm:h-36">
                        <i class="fa-solid fa-clock text-9xl p-14 max-sm:text-8xl max-sm:p-8"></i>
                        </figure>
                        <figcaption class="h-20 flex">
                            <div class="mt-1">
                                <p class="text-3xl">Reserva de horas</p>
                            </div>
                        </figcaption>
                                        </button>
                    <% if (user) { %>
                        <form action="/historialMedConsultaLogin" method="post">
                            <button class="flex flex-col justify-center items-center border-2 border-border rounded-3xl bg-primary text-text w-96 hover:bg-text hover:text-primary max-sm:w-80 max-md:w-72">
                                <figure class="w-60 h-56 flex justify-center max-sm:h-36">
                                    <i class="fa-solid fa-notes-medical text-9xl p-14 max-sm:text-8xl max-sm:p-8"></i>
                                </figure>
                                <figcaption class="h-20 flex">
                                    <div class="mt-1">
                                        <p class="text-3xl">Tu historial médico</p>
                                    </div>
                                </figcaption>
                            </button>
                        </form> 
                    <% } else { %>
                    <button class="flex flex-col justify-center items-center border-2 border-border rounded-3xl bg-primary text-text w-96 hover:bg-text hover:text-primary max-sm:w-80 max-md:w-72" onclick="historialMedUno();">
                        <figure class="w-60 h-56 flex justify-center max-sm:h-36">
                            <i class="fa-solid fa-notes-medical text-9xl p-14 max-sm:text-8xl max-sm:p-8"></i>
                        </figure>
                        <figcaption class="h-20 flex">
                            <div class="mt-1">
                                <p class="text-3xl">Tu historial médico</p>
                            </div>
                        </figcaption>
                    </button> 
                    <% } %> 
                </div>
                <div>
                    <% if (user) { %>
                        <form action="/anularHoraConsultaLogin" method="post">
                            <button class="flex flex-col justify-center items-center m-auto col-start-1 col-end-3 border-2 border-border rounded-3xl bg-primary text-text w-96 hover:bg-text hover:text-primary max-sm:w-80">
                                <figure class="w-60 h-56 flex justify-center max-sm:h-36">
                                    <i class="fa-solid fa-x text-9xl p-14 max-sm:text-8xl max-sm:p-8"></i>
                                </figure>
                                <figcaption class="h-20 flex">
                                    <div class="mt-1">
                                        <p class="text-3xl">Anulación de horas</p>
                                    </div>
                                </figcaption>
                            </button>
                        </form>
                    <% } else { %>
                        <button class="flex flex-col justify-center items-center m-auto col-start-1 col-end-3 border-2 border-border rounded-3xl bg-primary text-text w-96 hover:bg-text hover:text-primary max-sm:w-80" onclick="anulaHoraUno();">
                            <figure class="w-60 h-56 flex justify-center max-sm:h-36">
                                <i class="fa-solid fa-x text-9xl p-14 max-sm:text-8xl max-sm:p-8"></i>
                            </figure>
                            <figcaption class="h-20 flex">
                                <div class="mt-1">
                                    <p class="text-3xl">Anulación de horas</p>
                                </div>
                            </figcaption>
                        </button>
                    <% } %>
                </div>
            </div>
        </section>
        <section class="flex flex-col h-max gap-10 mx-auto mb-16">
            <h1 class="text-4xl text-center my-0">Nuestras especialidades</h1>
            <p class="text-justify text-2xl my-0" style="margin-left: 10%; margin-right: 10%">
                En nuestra clínica, nos enorgullece ofrecer una amplia gama de especialidades médicas para atender de manera
                integral a nuestros pacientes. Contamos con un equipo de médicos altamente calificados y apasionados que se
                dedican a proporcionar una atención de primera clase. Con más de 10 especialidades médicas, estamos
                comprometidos a satisfacer todas sus necesidades de salud en un solo lugar.
            </p>
            <div>
                <div class="grid grid-cols-3 w-auto my-0 mx-10">
                    <button class="bg-primary rounded-3xl relative text-text filter grayscale-0 hover:grayscale hover: z-10 transform hover:scale-110 transition-transform w-full h-full">
                        <figure class="relative object-cover h-full w-full flex flex-col justify-center items-center">
                        <img class="rounded-3xl object-cover h-full w-full" src="./img/dermatologia.jpg" alt="Dermatología">
                        <p class="text-3xl w-full h-full mt-auto flex justify-center items-center absolute text-center opacity-0 hover:opacity-100">Dermatología</p>
                        </figure>
                    </button>
                    <button class="bg-primary rounded-3xl relative text-text filter grayscale-0 hover:grayscale hover:z-10 transform hover:scale-110 transition-transform w-full h-full">
                        <figure class="relative object-cover h-full w-full flex flex-col justify-center items-center">
                        <img class="rounded-3xl object-cover h-full w-full" src="./img/cirugiaGeneral.webp" alt="Cirugía General">
                        <p class="text-3xl w-full h-full mt-auto flex justify-center items-center absolute text-center opacity-0 hover:opacity-100">Cirugía General</p>
                        </figure>
                    </button>
                    <button class="bg-primary rounded-3xl relative text-text filter grayscale-0 hover:grayscale hover:z-10 transform hover:scale-110 transition-transform w-full h-full">
                        <figure class="relative object-cover h-full w-full flex flex-col justify-center items-center">
                        <img class="rounded-3xl object-cover h-full w-full" src="./img/pediatria.webp" alt="Pediatría">
                        <p class="text-3xl w-full h-full mt-auto flex justify-center items-center absolute text-center opacity-0 hover:opacity-100">Pediatría</p>
                        </figure>
                    </button>
                    <button class="bg-primary rounded-3xl relative text-text filter grayscale-0 hover:grayscale hover:z-10 transform hover:scale-110 transition-transform w-full h-full">
                        <figure class="relative object-cover h-full w-full flex flex-col justify-center items-center">
                        <img class="rounded-3xl object-cover h-full w-full" src="./img/hematologia.jpg" alt="Hematología">
                        <p class="text-3xl w-full h-full mt-auto flex justify-center items-center absolute text-center opacity-0 hover:opacity-100">Hematología</p>
                        </figure>
                    </button>
                    <button class="bg-primary rounded-3xl relative text-text filter grayscale-0 hover:grayscale hover:z-10 transform hover:scale-110 transition-transform w-full h-full">
                        <figure class="relative object-cover h-full w-full flex flex-col justify-center items-center">
                        <img class="rounded-3xl object-cover h-full w-full" src="./img/kinesiologia.jpg" alt="Kinesiología">
                        <p class="text-3xl w-full h-full mt-auto flex justify-center items-center absolute text-center opacity-0 hover:opacity-100">Kinesiología</p>
                        </figure>
                    </button>
                    <button class="bg-primary rounded-3xl relative text-text filter grayscale-0 hover:grayscale hover:z-10 transform hover:scale-110 transition-transform w-full h-full">
                        <figure class="relative object-cover h-full w-full flex flex-col justify-center items-center">
                        <img class="rounded-3xl object-cover h-full w-full" src="./img/cardiologia.jpg" alt="Cardiología">
                        <p class="text-3xl w-full h-full mt-auto flex justify-center items-center absolute text-center opacity-0 hover:opacity-100">Cardiología</p>
                        </figure>
                    </button>                     
                </div>
                <a class="grid m-auto mt-8 col-start-1 col-end-4 hover:text-primary text-blue-900 rounded-md px-10 text-center" href="especialidades.html"><b><ins>Ver todas nuestras especialidades</ins></b></a>
            </div>
        </section>
        <section id="profesionales" class="flex flex-col h-max mb-16 gap-10 mx-auto">
            <h1 class="text-4xl text-center my-0">Nuestros profesionales</h1>
            <p class="text-justify text-2xl my-0" style="margin-left: 10%; margin-right: 10%">
                Contamos con un equipo de más de 60 profesionales altamente calificados que se dedican a brindar atención médica de primer nivel. Nuestros  médicos 
                generales y especialistas están comprometidos con la salud y el  bienestar de nuestros pacientes, ofreciendo una atención excepcional y  personalizada. 
                Valoramos la relación médico-paciente y estamos a la  vanguardia de la medicina para brindar la mejor atención en cada paso de  su viaje de salud.
            </p>
            <div class="grid grid-cols-1 my-0 mx-auto">
                <div class="grid grid-cols-3 gap-20 m-auto w-full max-sm:gap-5">
                    <button class="bg-primary rounded-3xl relative text-text filter grayscale-0 hover:grayscale hover: z-10 transform hover:scale-110 transition-transform w-full h-full">
                        <figure class="relative object-cover h-full w-full flex flex-col justify-center items-center">
                            <img class="rounded-3xl object-cover h-full w-full" src="./img/default.png" alt="Joaquin Hernández Aguilar">
                            <p class="text-3xl w-full h-full mt-auto flex justify-center items-end absolute text-center opacity-0 hover:opacity-100">Joaquin Hernández Aguilar<br>Cirujano</p>
                        </figure>
                    </button>
                    <button class="bg-primary rounded-3xl relative text-text filter grayscale-0 hover:grayscale hover: z-10 transform hover:scale-110 transition-transform w-full h-full">
                        <figure class="relative object-cover h-full w-full flex flex-col justify-center items-center">
                        <img class="rounded-3xl object-cover h-full w-full" src="./img/default.png" alt="Francisco Picazo Lovera">
                        <p class="text-3xl w-full h-full mt-auto flex justify-center items-end absolute text-center opacity-0 hover:opacity-100">Francisco Picazo Lovera<br>Cardiólogo</p>
                        </figure>
                    </button>
                    <button class="bg-primary rounded-3xl relative text-text filter grayscale-0 hover:grayscale hover: z-10 transform hover:scale-110 transition-transform w-full h-full">
                        <figure class="relative object-cover h-full w-full flex flex-col justify-center items-center">
                        <img class="rounded-3xl object-cover h-full w-full" src="./img/default.png" alt="Miriam Vargas Rodríguez">
                        <p class="text-3xl w-full h-full mt-auto flex justify-center items-end absolute text-center opacity-0 hover:opacity-100">Miriam Vargas Rodríguez<br>Pediatra</p>
                        </figure>
                    </button>  
                </div>
                <a class="m-auto mt-8 col-start-1 col-end-4 hover:text-primary text-blue-900 rounded-md px-10 text-center" href="profesionales.html"><b><ins>Ver todos nuestros profesionales</ins></b></a>
            </div>
        </section>
    </main>
    <footer class="h-full" id="contacto">
        <div class="grid grid-cols-3 text-center">
            <section class="border-dashed border-r-2 w-full border-border">
                <div class="flex flex-col gap-10 text-center justify-center items-center ">
                    <h1 class="text-3xl max-sm:xl">Redes sociales</h1>
                    <div class="grid grid-cols-3 gap-10 max-md:gap-7 max-sm:gap-2">
                        <i class="fa-brands fa-instagram text-4xl"></i>
                        <i class="fa-brands fa-facebook text-4xl"></i>
                        <i class="fa-brands fa-square-x-twitter text-4xl"></i>
                        <i class="fa-solid fa-envelope text-4xl"></i>
                        <i class="fa-brands fa-tiktok text-4xl"></i>
                        <i class="fa-brands fa-linkedin text-4xl"></i>
                    </div>
                </div>
            </section>
            <section class="border-dashed border-r-2 w-full border-border">
                <div class="flex flex-col gap-10 text-center justify-center items-center">
                    <h1 class="text-3xl max-sm:hidden">Contáctenos</h1>
                    <h1 class="text-3xl hidden max-sm:block">Contact.</h1>
                    <div class="text-start">
                        <p class="text-2xl max-sm:lg">Call Center</p>
                        <i class="fa-solid fa-phone flex gap-x-1 mt-2">
                            <p>600 511 5670</p>
                        </i>
                    </div>
                    <div class="text-start">
                        <p class="text-2xl max-sm:lg">Soporte Web</p>
                        <i class="fa-solid fa-phone flex gap-x-1 mt-2">
                            <p>512 687 9152</p>
                        </i>
                    </div>
                </div>
            </section>
            <section>
                <div class="flex flex-col gap-10 text-center justify-center items-center">
                    <h1 class="text-3xl max-sm:xl">Nuestra clínica</h1>
                    <div>
                        <img src="./img/default.png" style="user-select: none;">
                    </div>
                </div>
            </section>
        </div>
        <div class="mb-10 py-10">
            <p class="text-center text-3xl m-auto ">© Copyright - 2023. Todos los derechos reservados.</p>
        </div>
    </footer>
    <dialog id="loginDialog" class="h-[31.5rem] border-2 border-solid border-border bg-blue-100" style="width: calc(500px - 10vw);">
        <div class="grid">
            <button class="ml-[95%] w-min" onclick="closeDia();">
                <i class="fa-solid fa-x"></i>
            </button>
        </div>
        <section class="grid grid-cols-2 text-center">
            <button class="text-text bg-blue-500 rounded-md p-1.5 hover:bg-blue-600 w-max m-auto " onclick="loginButton();">Iniciar sesión</button>
            <button class="rounded-md p-1.5 hover:bg-blue-600 hover:text-text w-max m-auto" onclick="signinButton();">Registrarse</button>
        </section>
        <section class="grid mt-5 p-2">
            <form action="/signIn" method="post" class="gap-10 grid p-2">
                <div class="">
                    <label for="rutCorreo">Rut o correo electrónico</label>
                    <input id="rutCorreo" name="rutCorreo" type="text" class="m-auto w-full border-border rounded-md border-2" placeholder="Ej: 20254784-1 o correo@dominio.cl" required>
                </div>
                <div class="flex flex-col">
                    <label for="loClave">Contraseña</label>
                    <div class="flex flex-row">
                        <input id="claveInput4" name="loClave" type="password" class="m-auto w-full border-border rounded-md border-2" placeholder="********" required>
                        <button id="cambioClave4" class="absolute right-0" type="button" onclick="cambioClaveLogin();">
                            <i id="iconoClave4" class="fa-solid fa-eye text-xl -translate-x-7 translate-y-1.5"></i>
                        </button>
                    </div>
                </div>
                <div class="p-2 grid grid-cols-2" style="font-size: small;">
                    <button class="hover:text-blue-600 text-blue-500 w-max m-auto"><ins>Olvide mi contraseña</ins></button>
                    <div style="user-select: none">
                        <input id="rmPass" type="checkbox" class="m-auto pt-2" style="user-select: none"> <label for="rmPass" style="user-select: none">Recordar contraseña</label>
                    </div>
                </div>
                <div class="text-center bg-blue-500 object-cover w-1/2 m-auto rounded-md mt-3">
                    <button type="submit" class="text-text rounded-md p-1.5 hover:bg-blue-600 w-full m-auto">Acceder</button>
                </div>
            </form>
        </section>
    </dialog>

    <dialog id="signinDialog" class="h-max border-2 border-solid border-border bg-blue-100" style="width: calc(500px - 10vw);">
        <div class="grid">
            <button class="ml-[95%]  w-min" onclick="closeDia();">
                <i class="fa-solid fa-x"></i>
            </button>
        </div>
        <section class="grid grid-cols-2 text-center">
            <button class="rounded-md p-1.5 hover:bg-blue-600 hover:text-text w-max m-auto" onclick="loginButton();">Iniciar sesión</button>
            <button class="text-text bg-blue-500 rounded-md p-1.5 hover:bg-blue-600 w-max m-auto" onclick="signinButton();">Registrarse</button>
        </section>
        <section class="p-2">
            <form action="/registrar" method="post" class="grid p-2 gap-2">
                <div class="">
                    <label for="paName">Nombre</label>
                    <input id="paName" name="nombre" type="text" class="m-auto w-full border-border rounded-md border-2" placeholder="Ingresa tu nombre" required>
                </div>
                <div class="">
                    <label for="paLName">Apellidos</label>
                    <input id="paLName" name="apellido" type="text" class="m-auto w-full border-border rounded-md border-2" placeholder="Ingresa tus apellidos" required>
                </div>
                <div class="">
                    <label for="paRut">Rut</label>
                    <input id="paRut" name="rut" type="text" class="m-auto w-full border-border rounded-md border-2" placeholder="Ej: 20545267-1" required>
                </div>
                <div class="">
                    <label for="DoB">Fecha de nacimiento</label>
                    <input id="DoB" name="fecnac" type="date" class="m-auto w-full border-border rounded-md border-2" required>
                </div>
                <div class="">
                    <label for="paEmail">Correo Electronico</label>
                    <input id="paEmail" name="correo" type="email" class="m-auto w-full border-border rounded-md border-2" placeholder="correo@dominio.cl" required>
                </div>
                <div class="flex flex-col">
                    <label for="paPassword">Contraseña</label>
                    <div class="flex flex-row">
                        <input id="claveInput3" name="clave" type="password" class="m-auto w-full border-border rounded-md border-2" placeholder="********" required>
                        <button id="cambioClave3" class="absolute right-0" type="button" onclick="cambioClaveSigIn();">
                            <i id="iconoClave3" class="fa-solid fa-eye text-xl -translate-x-7 translate-y-1.5"></i>
                        </button>
                    </div>
                </div>
                <div class="flex flex-col">
                    <label for="paGender">Género (opcional)</label>
                    <select id="paGender" name="genero" class="m-auto w-full border-border rounded-md border-2">
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                        <option value="0">Otro</option>
                    </select>
                </div>
                <div class="">
                    <label for="paPhone">Teléfono</label>
                    <input id="paPhone" name="telefono" type="tel" class="m-auto w-full border-border rounded-md border-2" placeholder="Ej:958472045" required>
                </div>
                <div class="text-center bg-blue-500 object-cover w-1/2 m-auto rounded-md mt-3">
                    <button type="submit" class="text-text rounded-md p-1.5 hover:bg-blue-600 w-full m-auto">Registrarse</button>
                </div>
            </form>
        </section>
    </dialog>
    <dialog id="reservaUnoDialog" class="h-[31.5rem] border-2 border-solid border-border w-96 p-4 bg-blue-100">
        <div class="grid">
            <button class="ml-[95%] w-min" onclick="closeDia();">
                <i class="fa-solid fa-x"></i>
            </button>
            <h1 class="m-auto text-xl">Reserva tu hora</h1>
        </div>
        <form action="/reservaUno" id="reserva"method="post" class="grid gap-4 mt-10">
            <div class="flex flex-col gap-4 h-max">
                <label for="especialidad">Especialidades</label>
                <select id="especialidad" name="especialidad" class="m-auto w-full border-border rounded-md border-2" aria-placeholder="Seleccione especialidad" required>
                    <option value="1">Dermatología</option>
                    <option value="2">Cirugía General</option>
                    <option value="3">Pediatría</option>
                    <option value="4">Hematología</option>
                    <option value="5">Kinesiología</option>
                    <option value="6">Cardiología</option>
                </select>
            </div>
            <div class="text-center bg-blue-500 object-cover w-1/2 m-auto rounded-md mt-3">
                <button form="reserva" type="submit" class="text-text rounded-md p-1.5 hover:bg-blue-600 w-full m-auto">Buscar disponibilidad</button>
            </div>
        </form>
    </dialog>   
    <dialog id="anulaHoraUnoDialog" class="h-[31.5rem] border-2 border-solid border-border w-96 p-4 bg-blue-100">
        <div class="grid">
            <button class="ml-[95%] w-min" onclick="closeDia();">
                <i class="fa-solid fa-x"></i>
            </button>
            <h1 class="m-auto text-xl">Anula tu hora</h1>
        </div>
        <div class="flex flex-col">
            <form action="/anularHoraConsulta" method="post" class="gap-10 grid p-2">
                <div class="">
                    <label for="rut">Rut</label>
                    <input name="rut" type="text" class="m-auto w-full border-border rounded-md border-2" placeholder="Ej: 20254784-1" required>
                </div>
                <div class="flex flex-col">
                    <label for="clave">Contraseña</label>
                    <div class="flex flex-row">
                        <input id="claveInput7" name="clave" type="password" class="m-auto w-full border-border rounded-md border-2" placeholder="********" required>
                        <button id="cambioClave7" class="absolute right-0" type="button" onclick="cambioClaveAnularHora();">
                            <i id="iconoClave7" class="fa-solid fa-eye text-xl -translate-x-7 translate-y-1.5"></i>
                        </button>
                    </div>
                </div>
                <div class="border-2 border-green-800 bg-green-300 mt-4 flex flex-row">
                    <i class="fa-solid fa-triangle-exclamation text-lg ml-1"></i><p class="ml-1.5 mt-0.5">RECUERDA que puedes anular tu cita médica con una antelación minima de 48 horas</p>
                </div>
                <div class="text-center bg-blue-500 object-cover w-1/2 m-auto rounded-md mt-3">
                    <button type="submit" class="text-text rounded-md p-1.5 hover:bg-blue-600 w-full m-auto">Acceder</button>
                </div>
            </form>
        </div>
    </dialog>
    <dialog id="anularHoraDosDialog" class="h-[31.5rem] border-2 border-solid border-border w-96 p-4 bg-blue-100 max-sm:w-[90%]">
        <div class="grid">
            <button id="cerrarAnularHoraDos" class="ml-[95%] w-min">
                <i class="fa-solid fa-x"></i>
            </button>
            <h1 class="m-auto text-xl">Anula tu hora</h1>
        </div>
        <% if (resultados2.rows.length === 0){ %>
            <div class="h-96 flex items-center">
                <p class="text-3xl text-center">No tienes horas medicas agendadas</p>
            </div>
        <% } else { %> 
        <% resultados2.rows.forEach(resultado => {%>
            <div class="flex flex-row gap-10 mt-10">
                <div class="w-2/5">
                    <img class="h-full" src="../img/default.png" alt="<%=resultado.prof_nombres%> <%=resultado.prof_apellidos%>">
                </div>
                <div class="flex flex-col space-y-4 w-3/5">
                <div>
                        <h1 class="font-semibold"><%=resultado.prof_nombres%> <%=resultado.prof_apellidos%></h1>
                    </div>
                    <div>
                        <h1 class="font-semibold"><%=resultado.espe_nombre%></h1>
                    </div>
                    <div>
                    <% const diasSemana = ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"]; %>
                    <% const meses = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"]; %>
                    <% const dia = resultado.cita_dis_fecha.getDate(); %>
                    <% const nombreDia = resultado.cita_dis_fecha.getDay();%>
                    <% const mes = resultado.cita_dis_fecha.getMonth(); %>
                    <% const anio = resultado.cita_dis_fecha.getFullYear();%>
                        <h1 class="font-semibold">
                            <%= diasSemana[nombreDia]%> <%= dia%> de <%= meses[mes]%> <%=anio%>
                        </h1>
                    </div>
                    <div class="w-24 h-9">
                        <p class="text-text rounded-md p-1.5 bg-blue-500 m-auto text-center">
                            <%=resultado.cita_dis_fecha.getHours().toString().padStart(2, '0') %>:<%= resultado.cita_dis_fecha.getMinutes().toString().padStart(2, '0') %>
                        </p>
                    </div>
                </div>
            </div>
            <div class="mt-16">
                <form class="h-full w-full flex justify-center" action="/anularHoraFinal" method="post">
                    <button class="text-text font-semibold text-lg bg-blue-500 hover:bg-blue-600 m-auto w-1/2 h-full rounded-3xl p-2.5" type="submit" name="hora" value="<%=resultado.cita_id%>">Anular Hora</button>
                </form>
            </div>
        <% });%>
        <% } %>
            <div class="border-2 border-green-800 bg-green-300 mt-4 flex flex-row">
                <i class="fa-solid fa-triangle-exclamation text-lg ml-1"></i><p class="ml-1.5 mt-0.5">RECUERDA que puedes anular tu cita médica con una antelación minima de 48 horas</p>
            </div>
    </dialog>
    <dialog id="historialMedUnoDialog" class="h-[31.5rem] border-2 border-solid border-border w-96 p-4 bg-blue-100 max-sm:w-[90%]">
        <div class="grid">
            <button class="ml-[95%] w-min" onclick="closeDia();">
                <i class="fa-solid fa-x"></i>
            </button>
            <h1 class="m-auto text-xl">Tu historial médico</h1>
        </div>
        <div class="flex flex-col">
            <form action="/historialMedConsulta" method="post" class="gap-10 grid p-2">
                <div class="">
                    <label for="rut">Rut</label>
                    <input name="rut" type="text" class="m-auto w-full border-border rounded-md border-2" placeholder="Ej: 20254784-1" required>
                </div>
                <div class="flex flex-col">
                    <label for="clave">Contraseña</label>
                    <div class="flex flex-row">
                        <input id="claveInput8" name="clave" type="password" class="m-auto w-full border-border rounded-md border-2" placeholder="********" required>
                        <button id="cambioClave8" class="absolute right-0" type="button" onclick="cambioClaveHistorialMedico();">
                            <i id="iconoClave8" class="fa-solid fa-eye text-xl -translate-x-7 translate-y-1.5"></i>
                        </button>
                    </div>
                </div>
                <div class="text-center bg-blue-500 object-cover w-1/2 m-auto rounded-md mt-3">
                    <button type="submit" class="text-text rounded-md p-1.5 hover:bg-blue-600 w-full m-auto">Consultar</button>
                </div>
            </form>
        </div>
    </dialog>
    <script src="script.js"></script>
    <script src="database.js"></script>
</body>
</html>