<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%=resultados.rows[0].cita_dis_fecha%></h1>
    <h1><%=resultados.rows[0].prof_nombres%></h1>
    <h1><%=resultados.rows[0].prof_apellidos%></h1>
    <h1><%=resultados.rows[0].prof_rut%></h1>
    <h1><%=resultados.rows[0].espe_nombre%></h1>
</body>
</html>